// BLOG FULL POST STYLING

.blogFullPostDisplay {
  display: flex;
  flex-direction: column;
  width: 75%;
  border: 1.5px solid black;
  padding: 50px;
  margin: 70px auto;
  box-shadow: 10px 10px 20px 20px #aaaaaa;
  // align-items: center;

  h2 {
    font-size: 3rem;
    padding: 80px 0 50px 0;
  }

  h3 {
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 50px;
  }

  p {
  }
}

.blogFullPostDiv {
  margin: 0 auto;
}