
.blogForm {
  width: 75%;
  margin: 0 auto;
}

.postFormDropDown {
    width: 30%;
  height: 40px;
  text-align: center;
  margin: 20px auto;
}

form {
  background: #52ab98;
  border: 4px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  // height: 300px;
  justify-content: center;
  align-items: center;

  input {
    width: 30%;
    border-radius: 10px;
    height: 40px;
    margin: 15px 0;
    padding-left: 20px;
  }

  textarea {
    width: 50%;
    border-radius: 10px;
    padding: 20px;
  }

  button {
    margin: 30px 0;
    height: 50px;
    width: 250px;
    background: $tertiaryColor;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
  }

  button:hover {
    background-color: $primaryColor;
    outline: 3px solid #0d457f;
    color: #c8d8e4;

    transition-duration: 0.2s;
  }
}