
// POST PREVIEW CARD STYLING

.blogPreviewCard {
  background: #c8d8e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 1px solid black;
  text-align: center;
  height: 280px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 4px 4px 2px 2px #aaaaaa;
  //    font-weight: 400;
  padding: 20px;
  transition: all .2s ease-in-out; 

  h3 {
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

.blogPreviewCard:hover{
    transform: scale(1.1); 
    background: #abbcc9;
}

.postComment {
    padding: 25px;
}

.blogPostDisplay {
  display: flex;
  flex-direction: column;
  background: $primaryColor;
  padding: 50px 0;

  h2 {
    color: $secondaryColor;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 30px 0;
  }
}

.postDisplayContainer {
  display: flex;
  flex-direction: column;

  h2 {
    color: $tertiaryColor;
  }
}

.blogPostComment {
  background: url(../assets/blogFormImage3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  border-bottom: 4px solid black;
  border-top: 4px solid black;

  h2 {
    padding: 40px 0;
  }
}
