@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,800;1,900&display=swap");

@import "normalize";
@import "variables";
@import "fullPostPageStyle";




* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

nav {
  background: $primaryColor;
  // font-family: "Montserrat", sans-serif;
  position: fixed;
  width: 100%;
  border-bottom: 3px solid black;

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    a {
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;

      li {
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        letter-spacing: 1.5px;
      }
    }

    a:visited {
      color: white;
    }
    a:hover {
      background: #357b8f;
      padding: auto;
      // width: 100%;
    }
  }
}

.navbar {
  width: 100%;
  height: 50px;
  color: $secondaryColor;
  display: flex;
  // justify-content: space-between;

  span {
    font-weight: 800;
    width: 150px;
    letter-spacing: 1.5px;
    text-align: center;
    color: $tertiaryColor;
  }
}

.navLeft,
.navRight {
  margin: auto 0;
  width: 50%;
}

.navRight {
  text-align: right;

  input {
    height: 35px;
    width: 70%;
  }
}

header {
  background-image: url(../assets/headerImage2.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position-y: -400px;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
}

h1 {
  padding-top: 100px;
  padding-bottom: 0;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  color: $secondaryColor;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  //   font-style: italic;
}

h2 {
  font-size: 2.8rem;
  // font-style: italic;
  color: $primaryColor;
  font-weight: 800;
  text-shadow: 1px 1px rgb(255, 255, 255);
}


p {
  line-height: 1.5;
  text-align: justify;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

// h3 {
//         font-family: 'Montserrat', sans-serif;
//         font-size: 2rem;
//         text-transform: uppercase;
//         font-weight: 800;
// }

h4 {
  font-size: 2rem;
  padding-right: 50px;
  font-weight: 800;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.7);

  // font-style: italic;
}

h5 {
  font-size: 1.2rem;
  text-align: center;
}

ul {
  a {
    text-decoration: none;
  }
}

.blogPostSection {
  // background: url(../assets/blogFormImage3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.blogPostContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: $secondaryColor;

  padding: 80px 50px;
  margin: 0 auto;
  border-radius: 20px;
  border: 3px solid black;


    a {
      color: black;
  }

  a:visited {
      color: black;
  }

  h2 {
    text-align: center;
    color: $tertiaryColor;
      text-shadow: 2px 2px #000;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;

    li {
    }
  }
}

.blogPreviewCard {
  font-family: "Montserrat", sans-serif;
  background: #c8d8e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 1px solid black;
  text-align: center;
  height: 280px;
  width: 250px;
  border-radius: 20px;
  box-shadow: 4px 4px 2px 2px #aaaaaa;
  //    font-weight: 400;
  padding: 20px;
     transition: all .2s ease-in-out; 



  h3 {
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}

.blogPreviewCard:hover{
     transform: scale(1.1); 
     background: #abbcc9;
}

.postComment {
  padding: 25px;
  // font-style: italic;
}

.blogPostDisplay {
  display: flex;
  flex-direction: column;
  background: $primaryColor;
  padding: 50px 0;

  h2 {
    color: $secondaryColor;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 30px 0;
  }
}

.postDisplayContainer {
  display: flex;
  flex-direction: column;
  // align-items: center;

  h2 {
    color: $tertiaryColor;
  }
}

.blogPostComment {
  background: url(../assets/blogFormImage3.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  border-bottom: 4px solid black;
  border-top: 4px solid black;

  h2 {
    padding: 40px 0;
  }
}

.blogForm {
  width: 75%;
  margin: 0 auto;
}

.postFormDropDown {
    width: 30%;
  height: 40px;
  text-align: center;
  margin: 20px auto;
}

form {
  background: #52ab98;
  border: 4px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  // height: 300px;
  justify-content: center;
  align-items: center;

  input {
    width: 30%;
    border-radius: 10px;
    height: 40px;
    margin: 15px 0;
    padding-left: 20px;
  }

  textarea {
    width: 50%;
    border-radius: 10px;
    padding: 20px;
  }

  button {
    margin: 30px 0;
    height: 50px;
    width: 250px;
    background: $tertiaryColor;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
  }

  button:hover {
    background-color: $primaryColor;
    outline: 3px solid #0d457f;
    color: #c8d8e4;

    transition-duration: 0.2s;
  }
}

footer {
  height: 40px;
  display: flex;
  align-items: center;
  background: $primaryColor;
  color: #c8d8e4;
}



// BLOG Posts Styling

.categorySelectMenu {
  width: 30%;
  height: 40px;
  text-align: center;
  margin: 40px auto;
}


@import "mediaQueries";