form {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

section {
    margin: 100px auto;
}

h1 {
    text-align: center;
}